{% extends "afterLogInTemplate.html" %}

{% block isCreate %}
class="active"
{% endblock %}

{% block title_block %} Create a New Story {% endblock %}

{% block content_block %}



<form action="/recieveCreate" id="newPost" method="POST">
  <table>
    <tr>
      <td>
	Title:
      </td>
      <td>
	<input type="text" name="storyTitle" placeholder="title">
      </td>
    </tr>
    
    <tr>
      <td>
	Start Your Story:
      </td>
      <td>
	<textarea name="storyContent" form="newPost" placeholder="enter story here..."></textarea>
      </td>
    </tr>

    <tr>
      <td>
	<input type="submit" name="submit" value="submit">
      </td>
    </tr>
    
</form>

{% endblock %}
