{% extends "afterLogInTemplate.html" %}

{% block isFeed %}
class="active"
{% endblock %}

{% block title_block %} Feed {% endblock %}

{% block content_block %}
<div style="float:right">
Sort by: <form action="/sortfeed" id="sort" method="POST">
  <select form="sort" name="sortBy">
  <option value="0">Time of last edit</option>
  <option value="1">Title</option>
  </select>
  <input type="submit" value="submit">
</form>
</div>
  {{ message }}

{% for story in stories %}


<h3> {{ story[0] }} </h3>
<h4> {{ story[1] }} </h4>


<p>
  {{ story[2] }}
</p>
  
<form action="/edit" method="POST">
  <input type="submit" name="submit" value="Add to this story">
  <input type="hidden" name="storyId" value={{ story[3] }}>
  
</form>


<hr>
{% endfor %}


{% endblock %}
