{% extends "afterLogInTemplate.html" %}

{% block isHistory %}
class="active"
{% endblock %}

{% block title_block %} History {% endblock %}

{% block content_block %}

<div style="float:right">
Sort by: <form action="/sorthistory" id="sort" method="POST">
  <select form="sort" name="sortBy">
  <option value="0">Time of your edit</option>
  <option value="1">Title</option>
  </select>
  <input type="submit" value="submit">
</form>
</div>

{{ message }}

{% for story in stories %}

<h3> {{ story[0] }} </h3>
<h4> {{ story[1] }} </h4>


<p>
  {{ story[2] }}
</p>
  

<hr>

{% endfor %}

{% endblock %}
